<a href="https://colab.research.google.com/github/ashish143dotcom/first3/blob/main/untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

def sum_even_numbers(numbers):
    return sum(num for num in numbers if num % 2 == 0)

print(sum_even_numbers([1, 2, 3, 4, 5, 6]))

12

In [ ]:

def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))

olleh

In [ ]:

def square_numbers(numbers):
    return [num ** 2 for num in numbers]

print(square_numbers([1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

print([num for num in range(1, 201) if is_prime(num)])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [ ]:

class Fibonacci:
    def __init__(self, max_terms):
        self.max_terms = max_terms
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.max_terms:
            raise StopIteration
        self.count += 1
        result = self.a
        self.a, self.b = self.b, self.a + self.b
        return result

fib = Fibonacci(10)
print(list(fib))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:

def powers_of_two(exp):
    for i in range(exp + 1):
        yield 2 ** i

print(list(powers_of_two(5)))

[1, 2, 4, 8, 16, 32]

In [ ]:

def read_file_line_by_line(file_path):
    with open(file_path, "r") as file:
        for line in file:
            yield line.strip()

In [ ]:

data = [(1, 3), (2, 1), (3, 2)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(2, 1), (3, 2), (1, 3)]

In [ ]:

celsius_temps = [0, 20, 37, 100]
fahrenheit_temps = list(map(lambda c: (c * 9/5) + 32, celsius_temps))
print(fahrenheit_temps)

[32.0, 68.0, 98.6, 212.0]

In [ ]:

def remove_vowels(s):
    return "".join(filter(lambda char: char.lower() not in "aeiou", s))

print(remove_vowels("Hello World"))

Hll Wrld

In [ ]:
orders = [
    (34587, "Learning Python, Mark Lutz", 4, 40.95),
    (98762, "Programming Python, Mark Lutz", 5, 56.80),
    (77226, "Head First Python, Paul Barry", 3, 32.95),
    (88112, "Einf√ºhrung in Python, Bernd Klein", 3, 24.99)
]

result = list(map(lambda order: (order[0], order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0)), orders))

print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]